In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns



# Webcraping packages
import requests
from bs4 import BeautifulSoup
from time import sleep
from datetime import datetime

from selenium import webdriver

## Imports

### NFL

In [9]:
# Overall Team Data
team_df1 = pd.read_csv('../data/teams_2019_2015.csv')
team_df2 = pd.read_csv('../data/teams_2014_1970.csv')

In [10]:
# Passing Data
pass_df1 = pd.read_csv('../data/pass_2019_2015.csv')
pass_df2 = pd.read_csv('../data/pass_2014_1970.csv')

In [11]:
# Rushing Data
rush_df = pd.read_csv('../data/rush_stats.csv')

In [12]:
# Defense Data
def_df = pd.read_csv('../data/defensive_stats.csv')

### College

In [62]:
college_stand_df = pd.read_csv('../data/college_standings_2019_1996.csv')

In [63]:
college_off_df = pd.read_csv('../data/college_offense_stats_2019_1996.csv')

In [64]:
college_def_df = pd.read_csv('../data/college_defense_stats_2019_1996.csv')

## Combining Data

### Stacked Concatenation

In [14]:
# Multiyear DataFrames - Stacking them dfs upon each other
team_df = pd.concat([team_df1, team_df2])
pass_df = pd.concat([pass_df1, pass_df2])

In [56]:
# Exporting team DataFrame
team_df.to_csv('../data/NFL_teams.csv', index=False)

In [57]:
# Exporting pass DataFrame
pass_df.to_csv('../data/NFL_passing.csv', index=False)

Exporting concatenated dfs for later use.

### Merging DataFrames

### NFL Stats

In [26]:
# Merging team & passsing DataFrames
df1 = pd.merge(team_df, pass_df, left_on=['team','year'], right_on=['team','year'])
df1.shape

(1477, 34)

* I am merging all of the passing stats with the team stats DataFrame by the team name & year so that the stats match up.

In [34]:
df2 = pd.merge(df1, rush_df, left_on=['team','year'], right_on=['team','year'])
df2.shape

(1477, 43)

* Performing the same merge with the previously merged DataFrame, but with the rushing stats.

In [36]:
df = pd.merge(df2, def_df, left_on=['team','year'], right_on=['team','year'])
df.shape

* Performing the same merge with the previously merged DataFrame, but with the defensive stats. I now have one master DataFrame, that includes all of the statistics together, per team and year, that I can perform my analysis on.

### College Football Stats

In [73]:
cdf1 = pd.merge(college_stand_df, college_off_df, left_on=['School','year'], right_on=['School','year'])
cdf1.shape

(2428, 42)

In [75]:
cdf = pd.merge(cdf1, college_def_df, left_on=['School','year'], right_on=['School','year'])
cdf.shape

(2428, 66)

## EDA

In [65]:
college_stand_df.head()

,Rk,School,Conf,W,L,Pct,W.1,L.1,Pct.1,Off,Def,SRS,SOS,AP Pre,AP High,AP Rank,Notes,year
0,1,Clemson,ACC (Atlantic),11,0,1.000,8.0,0.0,1.000,45.9,10.7,20.66,-0.88,3.0,1.0,1.0,NaN,2019
1,2,Wake Forest,ACC (Atlantic),7,3,0.700,3.0,3.0,0.500,32.4,28.5,5.22,0.62,NaN,NaN,19.0,NaN,2019
2,3,Louisville,ACC (Atlantic),6,4,0.600,4.0,3.0,0.571,32.3,32.7,3.62,3.72,NaN,NaN,NaN,NaN,2019
3,4,Florida State,ACC (Atlantic),6,5,0.545,4.0,4.0,0.500,30.2,27.5,4.52,2.42,NaN,NaN,NaN,NaN,2019
4,5,Boston College,ACC (Atlantic),5,5,0.500,3.0,4.0,0.429,33.8,32.1,2.03,-0.07,NaN,NaN,NaN,NaN,2019

In [66]:
college_stand_df.columns

Index(['Rk', 'School', 'Conf', 'W', 'L', 'Pct', 'W.1', 'L.1', 'Pct.1', 'Off',
       'Def', 'SRS', 'SOS', 'AP Pre', 'AP High', 'AP Rank', 'Notes', 'year'],
      dtype='object')

In [67]:
college_stand_df.isnull().mean().sort_values(ascending = False)

Notes      0.988264
AP Pre     0.792889
AP Rank    0.785986
AP High    0.639627
Pct.1      0.037625
L.1        0.004833
W.1        0.004833
Pct        0.000000
School     0.000000
Conf       0.000000
W          0.000000
L          0.000000
year       0.000000
Off        0.000000
Def        0.000000
SRS        0.000000
SOS        0.000000
Rk         0.000000
dtype: float64

In [68]:
college_off_df.head()

,off_Rk,School,G,Pts,pass_cmp,pass_Att,cmp_Pct,pass_Yds,pass_TD,rush_Att,...,1st_down_Pass,1st_down_Rush,1st_down_Pen,1st_down_Tot,pen_No.,pen_Yds,Fum,Int,TO_Tot,year
0,1,Ohio State,10,51.5,19.0,27.8,68.3,254.3,3.8,46.6,...,11.8,14.5,2.3,28.6,5.8,56.2,0.8,0.1,0.9,2019
1,2,LSU,10,47.8,28.5,37.0,77.0,390.3,3.5,35.6,...,15.8,10.5,1.6,27.6,5.9,58.9,0.4,0.7,1.1,2019
2,3,Oklahoma,10,47.0,20.4,28.5,71.6,334.0,3.1,37.8,...,13.7,11.3,1.2,25.9,7.3,78.9,0.7,0.6,1.3,2019
3,4,Alabama,10,46.8,23.3,32.7,71.3,347.7,3.8,32.5,...,13.7,9.4,1.7,24.7,7.3,68.9,0.3,0.4,0.7,2019
4,5,Clemson,11,45.9,21.9,33.4,65.7,282.5,2.8,39.2,...,12.7,11.6,2.1,26.5,5.7,45.7,0.4,0.9,1.3,2019

In [69]:
college_off_df.columns

Index(['off_Rk', 'School', 'G', 'Pts', 'pass_cmp', 'pass_Att', 'cmp_Pct',
       'pass_Yds', 'pass_TD', 'rush_Att', 'rush_Yds', 'rush_Avg', 'rush_TD',
       'Plays', 'Yds', 'Avg_Yds', '1st_down_Pass', '1st_down_Rush',
       '1st_down_Pen', '1st_down_Tot', 'pen_No.', 'pen_Yds', 'Fum', 'Int',
       'TO_Tot', 'year'],
      dtype='object')

In [70]:
college_off_df.isnull().mean().sort_values(ascending = False)

year             0.0
TO_Tot           0.0
School           0.0
G                0.0
Pts              0.0
pass_cmp         0.0
pass_Att         0.0
cmp_Pct          0.0
pass_Yds         0.0
pass_TD          0.0
rush_Att         0.0
rush_Yds         0.0
rush_Avg         0.0
rush_TD          0.0
Plays            0.0
Yds              0.0
Avg_Yds          0.0
1st_down_Pass    0.0
1st_down_Rush    0.0
1st_down_Pen     0.0
1st_down_Tot     0.0
pen_No.          0.0
pen_Yds          0.0
Fum              0.0
Int              0.0
off_Rk           0.0
dtype: float64

In [15]:
print(team_df.shape)

(1477, 14)

In [18]:
team_df.columns

Index(['team', 'year', 'wins', 'losses', 'ties', 'win_loss_perc',
       'points_scored', 'opp_points', 'points_diff', 'margin_of_victory',
       'SoS', 'SRS', 'OSRS', 'DSRS'],
      dtype='object')

In [16]:
print(pass_df.shape)

(1477, 22)

In [19]:
pass_df.columns

Index(['team', 'year', 'game', 'comp', 'attempts', 'comp_perc', 'pass_yards',
       'pass_tds', 'pass_td_perc', 'int', 'int_perc', 'pass_long', 'pass_y/a',
       'y/c', 'pass_y/g', 'QB_rate', 'sacks', 'sack_yds', 'sack_perc',
       'qb_comebacks', 'qb_gwd', 'pass_exp'],
      dtype='object')

In [17]:
team_df

,team,year,wins,losses,ties,win_loss_perc,points_scored,opp_points,points_diff,margin_of_victory,SoS,SRS,OSRS,DSRS
0,New England Patriots,2019,8,1,0.0,0.889,270,98,172,19.1,-5.9,13.3,5.2,8.0
1,Buffalo Bills,2019,6,3,0.0,0.667,174,150,24,2.7,-5.3,-2.7,-5.3,2.6
2,Miami Dolphins,2019,2,7,0.0,0.222,119,268,-149,-16.6,0.6,-15.9,-7.9,-8.0
3,New York Jets,2019,2,7,0.0,0.222,130,238,-108,-12.0,-0.1,-12.1,-7.9,-4.2
4,Baltimore Ravens,2019,7,2,0.0,0.778,300,189,111,12.3,-2.0,10.3,9.4,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,Chicago Bears,1970,6,8,0.0,0.429,256,261,-5,-0.4,2.6,2.2,0.4,1.8
1313,San Francisco 49ers,1970,10,3,1.0,0.769,352,267,85,6.1,0.4,6.5,6.4,0.1
1314,Los Angeles Rams,1970,9,4,1.0,0.692,325,202,123,8.8,0.8,9.6,4.4,5.3
1315,Atlanta Falcons,1970,4,8,2.0,0.333,206,261,-55,-3.9,1.6,-2.3,-3.5,1.2
1316,New Orleans Saints,1970,2,11,1.0,0.154,172,347,-175,-12.5,4.6,-7.9,-4.6,-3.3

In [22]:
pass_df.head(10)

,team,year,game,comp,attempts,comp_perc,pass_yards,pass_tds,pass_td_perc,int,...,pass_y/a,y/c,pass_y/g,QB_rate,sacks,sack_yds,sack_perc,qb_comebacks,qb_gwd,pass_exp
0,Kansas City Chiefs,2019,10,252,383,65.8,3139,22,5.7,1,...,8.6,13.0,313.9,110.7,18,146,4.5,2.0,2.0,136.67
1,Atlanta Falcons,2019,9,267,378,70.6,2708,19,5.0,10,...,7.6,10.8,300.9,98.4,22,169,5.5,1.0,1.0,82.47
2,Los Angeles Chargers,2019,10,241,365,66.0,2701,14,3.8,10,...,7.7,11.7,270.1,90.7,21,122,5.4,1.0,2.0,78.39
3,Dallas Cowboys,2019,9,218,320,68.1,2693,18,5.6,9,...,8.7,12.7,299.2,102.0,11,84,3.3,NaN,NaN,125.05
4,Detroit Lions,2019,9,214,337,63.5,2621,20,5.9,6,...,8.2,12.9,291.2,101.6,20,147,5.6,2.0,1.0,90.45
5,Seattle Seahawks,2019,10,224,327,68.5,2559,23,7.0,2,...,8.4,12.2,255.9,114.9,27,178,7.6,4.0,5.0,93.91
6,Tampa Bay Buccaneers,2019,9,212,355,59.7,2558,17,4.8,14,...,7.8,13.0,284.2,83.8,34,207,8.7,1.0,1.0,39.56
7,Green Bay Packers,2019,10,225,347,64.8,2539,17,4.9,2,...,7.8,12.1,253.9,102.7,22,179,6.0,1.0,2.0,104.62
8,Los Angeles Rams,2019,9,215,357,60.2,2516,11,3.1,10,...,7.4,12.2,279.6,81.6,16,117,4.3,1.0,1.0,30.10
9,New England Patriots,2019,9,233,360,64.7,2465,14,3.9,6,...,7.2,11.1,273.9,91.9,16,117,4.3,NaN,NaN,71.88

In [40]:
df.drop(columns='game_y', inplace=True)

In [44]:
df.rename(columns={'game_x':'game'}, inplace=True)

In [46]:
df.shape

(1477, 68)

In [71]:
df['year'].value_counts().tail()

1974    26
1973    26
1972    26
1971    26
1970    26
Name: year, dtype: int64

In [72]:
df['team'].value_counts().tail()

Los Angeles Raiders     13
Phoenix Cardinals        6
Los Angeles Chargers     3
Tennessee Oilers         2
Boston Patriots          1
Name: team, dtype: int64

## DataFrame Completion Exports