In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from time import sleep
from datetime import datetime

from selenium import webdriver

## Imports

### NFL

In [9]:
# Overall Team Data
team_df1 = pd.read_csv('../data/teams_2019_2015.csv')
team_df2 = pd.read_csv('../data/teams_2014_1970.csv')

In [10]:
# Passing Data
pass_df1 = pd.read_csv('../data/pass_2019_2015.csv')
pass_df2 = pd.read_csv('../data/pass_2014_1970.csv')

In [11]:
# Rushing Data
rush_df = pd.read_csv('../data/rush_stats.csv')

In [12]:
# Defense Data
def_df = pd.read_csv('../data/defensive_stats.csv')

### College

In [53]:
college_stand_df = pd.read_csv('../data/college_standings.csv')

In [54]:
college_off_df = pd.read_csv('../data/college_offense_stats.csv')

In [55]:
college_def_df = pd.read_csv('../data/college_defense_stats.csv')

## Combining Data

### Stacked Concatenation

In [14]:
# Multiyear DataFrames - Stacking them dfs upon each other
team_df = pd.concat([team_df1, team_df2])
pass_df = pd.concat([pass_df1, pass_df2])

In [27]:
# Exporting team DataFrame

In [28]:
# Exporting pass DataFrame

Exporting concatenated dfs for later use.

### Merging DataFrames

In [26]:
# Merging team & passsing DataFrames
df1 = pd.merge(team_df, pass_df, left_on=['team','year'], right_on=['team','year'])
df1.shape

(1477, 34)

In [34]:
df2 = pd.merge(df1, rush_df, left_on=['team','year'], right_on=['team','year'])
df2.shape

(1477, 43)

In [36]:
df = pd.merge(df2, def_df, left_on=['team','year'], right_on=['team','year'])

### Examining Data

In [15]:
print(team_df.shape)

(1477, 14)

In [18]:
team_df.columns

Index(['team', 'year', 'wins', 'losses', 'ties', 'win_loss_perc',
       'points_scored', 'opp_points', 'points_diff', 'margin_of_victory',
       'SoS', 'SRS', 'OSRS', 'DSRS'],
      dtype='object')

In [16]:
print(pass_df.shape)

(1477, 22)

In [19]:
pass_df.columns

Index(['team', 'year', 'game', 'comp', 'attempts', 'comp_perc', 'pass_yards',
       'pass_tds', 'pass_td_perc', 'int', 'int_perc', 'pass_long', 'pass_y/a',
       'y/c', 'pass_y/g', 'QB_rate', 'sacks', 'sack_yds', 'sack_perc',
       'qb_comebacks', 'qb_gwd', 'pass_exp'],
      dtype='object')

In [17]:
team_df

,team,year,wins,losses,ties,win_loss_perc,points_scored,opp_points,points_diff,margin_of_victory,SoS,SRS,OSRS,DSRS
0,New England Patriots,2019,8,1,0.0,0.889,270,98,172,19.1,-5.9,13.3,5.2,8.0
1,Buffalo Bills,2019,6,3,0.0,0.667,174,150,24,2.7,-5.3,-2.7,-5.3,2.6
2,Miami Dolphins,2019,2,7,0.0,0.222,119,268,-149,-16.6,0.6,-15.9,-7.9,-8.0
3,New York Jets,2019,2,7,0.0,0.222,130,238,-108,-12.0,-0.1,-12.1,-7.9,-4.2
4,Baltimore Ravens,2019,7,2,0.0,0.778,300,189,111,12.3,-2.0,10.3,9.4,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,Chicago Bears,1970,6,8,0.0,0.429,256,261,-5,-0.4,2.6,2.2,0.4,1.8
1313,San Francisco 49ers,1970,10,3,1.0,0.769,352,267,85,6.1,0.4,6.5,6.4,0.1
1314,Los Angeles Rams,1970,9,4,1.0,0.692,325,202,123,8.8,0.8,9.6,4.4,5.3
1315,Atlanta Falcons,1970,4,8,2.0,0.333,206,261,-55,-3.9,1.6,-2.3,-3.5,1.2
1316,New Orleans Saints,1970,2,11,1.0,0.154,172,347,-175,-12.5,4.6,-7.9,-4.6,-3.3

In [22]:
pass_df.head(10)

,team,year,game,comp,attempts,comp_perc,pass_yards,pass_tds,pass_td_perc,int,...,pass_y/a,y/c,pass_y/g,QB_rate,sacks,sack_yds,sack_perc,qb_comebacks,qb_gwd,pass_exp
0,Kansas City Chiefs,2019,10,252,383,65.8,3139,22,5.7,1,...,8.6,13.0,313.9,110.7,18,146,4.5,2.0,2.0,136.67
1,Atlanta Falcons,2019,9,267,378,70.6,2708,19,5.0,10,...,7.6,10.8,300.9,98.4,22,169,5.5,1.0,1.0,82.47
2,Los Angeles Chargers,2019,10,241,365,66.0,2701,14,3.8,10,...,7.7,11.7,270.1,90.7,21,122,5.4,1.0,2.0,78.39
3,Dallas Cowboys,2019,9,218,320,68.1,2693,18,5.6,9,...,8.7,12.7,299.2,102.0,11,84,3.3,NaN,NaN,125.05
4,Detroit Lions,2019,9,214,337,63.5,2621,20,5.9,6,...,8.2,12.9,291.2,101.6,20,147,5.6,2.0,1.0,90.45
5,Seattle Seahawks,2019,10,224,327,68.5,2559,23,7.0,2,...,8.4,12.2,255.9,114.9,27,178,7.6,4.0,5.0,93.91
6,Tampa Bay Buccaneers,2019,9,212,355,59.7,2558,17,4.8,14,...,7.8,13.0,284.2,83.8,34,207,8.7,1.0,1.0,39.56
7,Green Bay Packers,2019,10,225,347,64.8,2539,17,4.9,2,...,7.8,12.1,253.9,102.7,22,179,6.0,1.0,2.0,104.62
8,Los Angeles Rams,2019,9,215,357,60.2,2516,11,3.1,10,...,7.4,12.2,279.6,81.6,16,117,4.3,1.0,1.0,30.10
9,New England Patriots,2019,9,233,360,64.7,2465,14,3.9,6,...,7.2,11.1,273.9,91.9,16,117,4.3,NaN,NaN,71.88

In [40]:
df.drop(columns='game_y', inplace=True)

In [44]:
df.rename(columns={'game_x':'game'}, inplace=True)

In [46]:
df.shape

(1477, 68)

In [47]:
df['year'].value_counts()

2019    32
2009    32
2018    32
2003    32
2004    32
2005    32
2006    32
2007    32
2008    32
2002    32
2010    32
2012    32
2013    32
2014    32
2015    32
2016    32
2017    32
2011    32
2001    31
2000    31
1999    31
1996    30
1995    30
1997    30
1998    30
1984    28
1976    28
1977    28
1978    28
1979    28
1980    28
1981    28
1982    28
1983    28
1994    28
1985    28
1986    28
1987    28
1988    28
1989    28
1990    28
1991    28
1992    28
1993    28
1975    26
1974    26
1973    26
1972    26
1971    26
1970    26
Name: year, dtype: int64

In [48]:
df['team'].value_counts()

New Orleans Saints      50
Dallas Cowboys          50
New York Jets           50
Philadelphia Eagles     50
Minnesota Vikings       50
Detroit Lions           50
Atlanta Falcons         50
Pittsburgh Steelers     50
Denver Broncos          50
Buffalo Bills           50
Chicago Bears           50
Miami Dolphins          50
San Francisco 49ers     50
Kansas City Chiefs      50
New York Giants         50
Washington Redskins     50
Green Bay Packers       50
Cincinnati Bengals      50
New England Patriots    49
Cleveland Browns        47
San Diego Chargers      47
Tampa Bay Buccaneers    44
Seattle Seahawks        44
Oakland Raiders         37
Indianapolis Colts      36
Los Angeles Rams        29
Houston Oilers          27
Arizona Cardinals       26
Carolina Panthers       25
Jacksonville Jaguars    25
Baltimore Ravens        24
Tennessee Titans        21
St. Louis Rams          21
Houston Texans          18
St. Louis Cardinals     18
Baltimore Colts         14
Los Angeles Raiders     13
Phoenix Cardinals        6
Los Angeles Chargers     3
Tennessee Oilers         2
Boston Patriots          1
Name: team, dtype: int64